export GCC_DIR=$GCC_DIR$

export BUILD_DIR=$BUILD_DIR$
export DEPLOY_DIR=$DEPLOY_DIR$
export INSTALL_DIR=$INSTALL_DIR$
export ROOTFS_DIR=$ROOTFS_DIR$
export PART_NUMBER=$PART_NUMBER$

ifeq ($(PART_NUMBER),402.12.00)
export CPP_PART_NUMBER=PN_402_12_00
else ifeq ($(PART_NUMBER),402.12.01)
export CPP_PART_NUMBER=PN_402_12_01
else ifeq ($(PART_NUMBER),402.12.02)
export CPP_PART_NUMBER=PN_402_12_02
else ifeq ($(PART_NUMBER),402.12.03)
export CPP_PART_NUMBER=PN_402_12_03
else ifeq ($(PART_NUMBER),402.12.04)
export CPP_PART_NUMBER=PN_402_12_04
else ifeq ($(PART_NUMBER),402.12.05.01)
export CPP_PART_NUMBER=PN_402_12_05_01
else ifeq ($(PART_NUMBER),402.12.06)
export CPP_PART_NUMBER=PN_402_12_06
endif

${BUILD_DIR}:
	mkdir -p ${BUILD_DIR}

${DEPLOY_DIR}:
	mkdir -p ${DEPLOY_DIR}	
	
${INSTALL_DIR}:
	mkdir -p ${INSTALL_DIR}
	
${ROOTFS_DIR}:
	mkdir -p ${ROOTFS_DIR}

